*, *::before, *::after {
    margin: 0;
    padding: 0;
}

html, body {
    overflow: hidden;
}

.ui {
    padding: 10px 15px;
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn {
    margin-top: 10px;
    width: 100%;
    cursor: pointer;
    height: 28px;
    border-radius: 6px;
    border: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}

.input {
    height: 24px;
    padding: 0 15px;
    border-radius: 6px;
    border: 0;
    outline: 0;
}

#webgl {
    position: absolute;
    top: 0;
    left: 0;
    outline: 0;
}

#explode, #re-build {
    display: none;
}